<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

<h1>Description</h1>
<p>
    I created this page in order to make a 
    site with automatic site with password generation
</p>
<p align="bottom-center"><a href="{% url 'Home' %}" class="btn btn-warning">home</a></p>

<p align="right" style="line-height:400px;"><strong>made a futon</strong></p>
